In [7]:
import helper_functions as hf
import pandas as pd 
import numpy as np
from helper_functions import myDataFrameHe as mdf

In [3]:
nulls = pd.DataFrame([[1, np.nan],
                    [3, 3],
                    [3, np.nan],
                   [1, 5],
                    [np.nan, 3],
                    [np.nan, np.nan]],
                   columns=['a','b'])

In [8]:
mdf.null_count(nulls)

5

In [4]:
date = pd.DataFrame(['10/28/1995','05/28/1994'],columns=['date'])

In [11]:
mdf.split_dates(date)

         date Month Day  Year
0  10/28/1995    10  28  1995
1  05/28/1994    05  28  1994

In [8]:
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj', 'Geeku'], 
        'Age':[27, 24, 22, 32, 15], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj', 'Noida'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd', '10th']} 
df = pd.DataFrame(data)

In [11]:
train, test = hf.train_test_split(df, .8)

In [12]:
train

     Name  Age  Address Qualification
0     Jai   27    Delhi           Msc
3    Anuj   32  Kannauj           Phd
1  Princi   24   Kanpur            MA
4   Geeku   15    Noida          10th

In [13]:
test

     Name  Age    Address Qualification
2  Gaurav   22  Allahabad           MCA

In [12]:
from oop_example import Animal, Sloth

In [13]:
Remy = Sloth('Remy', 45, 'leaf')

In [14]:
Remy

In [17]:
Remy.diet_type

'leaf'

In [1]:
Sloth.say_something(Remy)

NameError: name 'Sloth' is not defined